
@import url('https://fonts.googleapis.com/css?family=Abel');

body {
  width: auto;
  height: 45em;
  font-family: 'Abel', sans-serif;
  overflow-x: hidden;
}

#background_image {
  width: 95.8em;
  height: 50em;
  position: absolute;
  left: -1em;
  top: -1em;
  z-index: -1;
}

/**Top section style. Logo, navigation. **/
#top_logo_title_section {
  width: 100%;
  height: 4em;
  background-color: rgba(255, 255, 255, 0.1);
}

#top_logo_wrap {
  width: 10em;
  height: 100%;
  float: left;
}

#company_logo {
  width: auto;
  height: 100%;
  float: left;
}

#top_title_wrap {
  width: 20em;
  height: 100%;
  float: left;
}

/**Navigation bar styling.**/
#navigation_bar {
  width: 100%;
  height: 4em;
  background-color: rgba(255, 255, 255, 0.0);
}

#left_navigation_button {
  float: left;
}

.navigation_button {
  width: 10em;
  height: 20%;
  margin: 0 auto; 
  display: block; 
  background-color: rgb(50, 119, 209);
  border-color: rgb(50, 119, 209);
  color: white;
  font-size: 16pt;
  font-weight: bold;
  font-family: 'Abel', sans-serif;
}

.navigation_button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

#middle_gallery_section {
  width: 100%;
  height: 26em;
  background-color: rgba(255, 255, 255, 0.1);
}

#middle_left_scroll_wrap {
  width: 20%;
  height: 100%;
  float: left;
}

#middle_left_scroll {
  margin: 0 auto;
     
}

#middle_picture_wrap {
  width: 60%;
  height: 100%;
  float: left;
}

#slogan {
  text-align: center;
}

#middle_right_scroll_wrap {
  width: 20%;
  height: 100%;
  float: left;
}

#middle_right_scroll {
  margin: 0 auto;
}

.middle_scroll_button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: none;
}

@keyframes scrollHover {
  from 
  {
    width: 100px;
    height: 100px;
  }
  to 
  {
    width: 104px;
    height: 104px;
  }
}

.middle_scroll_button:hover {
  animation: scrollHover 1s forwards;
  cursor: pointer;
}

.div_scroll_wrap {
  width: 33%;
  margin: 0 auto;
  margin-top: 50%;
  border-radius: 50%;
}

.div_girl {
  width: 400px;
  height: 400px;
  margin-top: 1em;
  margin-left: 1em;
}

.img_girl {
  width: 360px;
  height: 375px;
}

#bottom_profile_select {
  width: 100%;
  height: 15em;
  background-color: rgba(255, 255, 255, 0.1);
}

#bottom_picture_wrap {
  width: 57em;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow: hidden;
}

@keyframes scrollAnim {
        0%  { left: 0em; top: 0em; } 
        10%  { left: -17em; top: 0em; }
        15% { left: -35em; top: 0em; }
        20% { left: -53em; top: 0em; }
        30% { left: -70em; top: 0em; }
        35% { left: -88em; top: 0em; }
        40% { left: -103em; top: 0em; }
        50% { left: -104em; top: 0em; }
        60% { left: -88em; top: 0em; }
        65%  { left: -70em; top: 0em; }
        70%  { left: -53em; top: 0em; }
        80%  { left: -35em; top: 0em; }
        90%  { left: -17em; top: 0em; }
        100%  { left: 0em; top: 0em; }
}
.gallery_bae {
  flex: 0 0 auto;
  width: 130px;
  height: 150px;
  margin-left: 8.5em;
  position: relative;
  animation: scrollAnim 20s infinite;
}

@keyframes buttonHover {
  from 
  {
    width: 130px;
    height: 150px;
  }
  to 
  {
    width: 135px;
    height: 155px;
    border: 1pt solid rgba(0, 0, 255, 0.1);
  }
}

.gallery_bae:hover {
  cursor: pointer;
  width: 135px;
  height: 155px;
  border: 1pt solid rgba(0, 0, 255, 0.3);
}


.bae_list {
  display: none;     
}

#container li{
  list-style-type: none;
}

.img_char{
  width:380px;
  height:400px;
  float: right;
    
}

.name_char{
  font-size: 25pt;
  font-weight: bold;
  float: left;
  margin-top: -12em;
  width: 50%;
}
#slogan{
    font-size: 45pt;
    font-weight: bold; 
    
    }
#navigation_bar img{
    height: 40px;
    width: 40px;
    float: right;
    margin-right: 1em;
    margin-top: 2em;

    }
.about_me{
        font-size: 13pt;    
    }
 /************************************************************************************
      MEDIA QUERIES
*************************************************************************************/

@media screen and (max-width: 1700px) {
  .name_char {
    margin-top: 1em;
    width: 8em;
  }
}
@media screen and (max-width: 1250px) {
    .name_char{
      margin-top: 0em;
      float: left;
      display: none;
    }
    .img_char{
      width: auto; 
      height: 20em;
      float: left;
      margin-left: 20%;
      }
    }
@media screen and (max-width: 750px) {
    .name_char{
      display: none; 
    }
    .img_char{
      width: auto; 
      height: 18em;
      float: left;
    }
    #top_title_wrap {
      width: 25%;
      height: 100%;
      float: left;
    }
    
@media screen and (max-width: 680px) {
    .img_char{
      width: auto; 
      height: 12em; 
    }
    
    #middle_gallery_section{
      margin-top: 10%;
      height: 40%;

    }
    .middle_scroll_button{
      width: auto;
      height:4em;
    }
    
    #navigation_bar{
      display: none;
    }
    
@media screen and (max-width: 550px) {
  
   .img_char{
      width: auto; 
      height: 7em; 
      float: left;
      margin-left: 2em;
    }
    .middle_scroll_button {
      animation: none;
    }

    #middle_gallery_section {
      height: 30%;
    }
    
    .gallery_bae {
      width: 100px;
      height: 120px;
    }

    #top_logo_wrap {
      margin-left: 25%;
    }
 
  }
